<!doctype html>
<html data-bs-theme="dark" lang="es">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{titulo}}</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>
<body>
<div class="container">
    <!-- Título -->
    <div class="container py-3">
        <h1 class="text-center display-5 text-warning">
            {{titulo}} <i class="bi bi-award"></i>
        </h1>
    </div>
</div> <!-- Fin div del título -->
<!-- Grid principal -->
<div class="container-fluid pb-3">
    <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
        <!-- Contenedor del formulario -->
        <div class="border rounded-3 p-2">
            <!-- Aquí va el formulario -->
            <form action="/guardar" autocomplete="off" method="post">
                {{forma.csrf_token}}
                <!--Valor de Id -->
                <!--              <input type="hidden" id="id" value="1">-->
                {{forma.id}}
                <!-- Nombre -->
                <div class="form-floating py-2">
                    <!--              <input type="text" class="form-control" id="nombre" placeholder="Nombre"/>-->
                    <!--              <label for="nombre">Nombre</label>-->
                    {{forma.nombre(class="form-control", placeholder="Nombre")}}
                    {{forma.nombre.label}}
                </div>
                <!-- Apellido -->
                <div class="form-floating py-2">
                    <!--              <input type="text" class="form-control" id="apellido"-->
                    <!--                     placeholder="Apellido"/>-->
                    <!--              <label for="apellido">Apellido</label>-->
                    {{forma.apellido(class="form-control", placeholder="Apellido")}}
                    {{forma.apellido.label}}
                </div>
                <!-- Membresía -->
                <div class="form-floating py-2">
                    <!--              <input type="number" class="form-control" id="membresia"-->
                    <!--                     placeholder="Membresía"/>-->
                    <!--              <label for="membresia">Membresía</label>-->
                    {{forma.membresia(class="form-control", placeholder="Membresía")}}
                    {{forma.membresia.label}}
                </div>
                <!-- Botones -->
                <div class="text-center py-2">
                    <!--              <button type="submit" class="btn btn-warning btn-sm me-3">-->
                    <!--                Guardar-->
                    <!--              </button>-->
                    {{forma.guardar(class="btn btn-warning btn-sm me-3")}}
                    <!--              <input type="reset" class="btn btn-danger btn-sm" value="Limpiar"/>-->
                    <a class="btn btn-danger btn-sm" href="/limpiar">
                        Limpiar
                    </a>
                </div>
            </form>
        </div> <!-- Div cierre del contenedor del formulario -->
        <!-- Contenedor del listado de clientes -->
        <div class="border rounded-3 p-2">
            <!-- Aquí va la tabla de listado de clientes -->
            <table class="table table-striped table-hover">
                <thead class="table-warning">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Membresía</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for cliente in clientes %}
                <tr>
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.membresia}}</td>
                    <td class="text-center">
                        <div>
                            <a class="btn btn-warning btn-sm me-3"
                               href="/editar/{{cliente.id}}">
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-danger btn-sm"
                               href="/eliminar/{{cliente.id}}">
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> <!-- Cierre del div del contenedor de listado de clientes -->
    </div>
</div> <!-- Fin grid principal-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>
</html>